.defra-aq-features {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 80px;
        @media (max-width: 640px) {
            gap: 30px;
        }
        @media (max-width: 370px) {
            flex-wrap: wrap;
        }
        margin: 0 0 15px 0;
        padding-bottom: 0px;
        box-shadow: inset 0 -1px 0 #b1b4b6;
        width: 100%;
    }

    &__item {
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px 0 15px 0;
    float: left;
    min-width: 6em;
    }

    &__key {
    margin: 0;
    @include govuk-font($size: 19);
    color: #505a5f;
    @media (max-width: 640px) {
        @include govuk-font($size: 16);
    }
    @media (max-width: 370px) {
        font-size: 14px;
    }
    }

    &__value {
    margin: 5px 0 0 0;
    @include govuk-font($size: 24);
    @media (max-width: 640px) {
        font-size: 16px;
    }
   
    }

    &__link {
        @include govuk-font($size: 19);
        @media (max-width: 640px) {
            font-size: 16px;
        }
        }
}



.status-description {
    margin-left: 5px; 
    display: inline-block; 
    color: #505a5f;
}

.status-tag {
    margin-top: 0px; 
    padding: 6px 12px 6px 12px;
}

.defra-aq-features-pollutants {
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 0 15px 0;
        padding-bottom: 20px;
        box-shadow: inset 0 -1px 0 #b1b4b6;
        width: 100%;
    }

    &__item {
    width: 33.33%;
    box-sizing: border-box;
    padding: 15px 0 15px 0;

    float: left;
    min-width: 6em;
    }

    &__key {
    margin: 0;
    font-size: 19px;
    color: #505a5f;
    }

    &__value {
    margin: 0 5px 0 0;
    font-size: 26px;
    }
}

.defra-aq-description {
    padding-bottom: 15px;
    box-shadow: inset 0 -1px 0 #b1b4b6;
}