{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>


    <!-- beta -->
    <table class="govuk-table">

      <h2 class="govuk-heading-l">
        Beta
      </h2>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Design history</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-17/landing-page.html">Version 17</a></td>
          <td class="govuk-table__cell">DATE RANGE</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint XX</td>
        </tr>
        
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-16/landing-page.html">Version 16</a></td>
          <td class="govuk-table__cell">1 June to 30 June 2026</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 26</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-15/landing-page.html">Version 15</a></td>
          <td class="govuk-table__cell">1 May to 31 May 2026</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 25</td>
        </tr>
            <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-14/start.html">Version 14</a></td>
          <td class="govuk-table__cell">6 to 30 April 2026</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 25</td>
        </tr>
           <tr class="govuk-table__row">
          <td class="govuk-table__cell">Citizen service + accessibility research</td>
          <td class="govuk-table__cell">25 February to 6 April 2026</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Sprint 23 & 24</a></td>
        </tr>
             <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-13/start.html">Version 13</a></td>
          <td class="govuk-table__cell">14 January to 24 February 2026</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 21 & 22</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-12/start.html">Version 12</a></td>
          <td class="govuk-table__cell">20 November to 31 December 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 19 & 20</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-11/start.html">Version 11</a></td>
          <td class="govuk-table__cell">8 October to 19 November 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 17 & 18</td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-10/start.html">Version 10</a></td>
          <td class="govuk-table__cell">17 September to 8 October 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 16</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-9/start.html">Version 9</a></td>
          <td class="govuk-table__cell">27 August to 16 September 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 15</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-8/start.html">Version 8</a></td>
          <td class="govuk-table__cell">7 August to 26 August 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 14</td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-7/start.html">Version 7</a></td>
          <td class="govuk-table__cell">18 July to 7 August 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5712544024/Sprint+3+-+Data+selector+version+1" class="govuk-link">Sprint 13</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Break for assessment</td>
          <td class="govuk-table__cell">7 June to 18 July 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 11-12</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Accessibility research</td>
          <td class="govuk-table__cell">24 April to 6 June 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="" class="govuk-link">Sprint 9-10</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Sprint break</td>
          <td class="govuk-table__cell">3 April to 24 April 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">Sprint 8</a></td>
        </tr>

          <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="https://www.figma.com/proto/xGMTS8mnXiGxWVnUkwOlOh/Beta?page-id=0%3A1&node-id=557-12471&viewport=-17818%2C854%2C0.21&t=Xt66QHKgNHNBIuwe-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=557%3A12471&show-proto-sidebar=1">Maps - Version 3 (opens in Figma)</a></td>
          <td class="govuk-table__cell">20 February to 3 April 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5712544094/Sprint+6+and+7+-+Maps+version+3" class="govuk-link">Sprint 6 - 7</a></td>
        </tr>

          <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="https://www.figma.com/proto/xGMTS8mnXiGxWVnUkwOlOh/Beta?page-id=0%3A1&node-id=256-2248&viewport=-17818%2C854%2C0.21&t=Xt66QHKgNHNBIuwe-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=256%3A2248&show-proto-sidebar=1">Maps - Version 2 (opens in Figma)</a></td>
          <td class="govuk-table__cell">30 January to 20 February 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5713068051/Sprint+5+-+Maps+version+2" class="govuk-link">Sprint 5</a></td>
        </tr>
                <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="https://www.figma.com/proto/xGMTS8mnXiGxWVnUkwOlOh/Beta?page-id=0%3A1&node-id=1-1262&viewport=-17818%2C854%2C0.21&t=Xt66QHKgNHNBIuwe-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1%3A1262&show-proto-sidebar=1">Maps - Version 1 (opens in Figma)</a></td>
          <td class="govuk-table__cell">8 January to 28 January 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5712512089/Sprint+4+-+Maps+version+1" class="govuk-link">Sprint 4</a></td>
        </tr>
      
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="data-selector/index">Data selector</a></td>
          <td class="govuk-table__cell">6 December 2024 to 7 January 2025</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5712544024/Sprint+3+-+Data+selector+version+1" class="govuk-link">Sprint 3</a></td>
        </tr>
       
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="mvp/start">Baseline MVP</a></td>
          <td class="govuk-table__cell">15 November to 5 December 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5710250152/Sprint+2+-+MVP+baseline+prototype" class="govuk-link">Sprint 2</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-6_1/start">Version 6</a></td>
          <td class="govuk-table__cell">22 October to 14 November 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5710250105/Sprint+1+-+Refined+prototype" class="govuk-link">Sprint 1</a></td>
        </tr>
      </tbody>
    </table>
 <table class="govuk-table">

      <h3 class="govuk-heading-m">
        Development
      </h3>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
      
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="phase1-map/start.html">Phase 1 Map</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
          Not yet built
        </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="phase-2-ds/start.html">Phase 2 data selector</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
          Built
        </strong></td>
        </tr>
          <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="data-selector-mvp-build/index.html">Phase 1 data selector</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
          Built
        </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="welsh-mvp/start">Private beta welsh translation</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">
          Not yet built
        </strong></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="mvp-final/index">Private beta MVP for development</a></td>
          <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
          Built
        </strong></td>
        </tr>
      </tbody>
    </table>

    <!-- alpha -->
         <h2 class="govuk-heading-l govuk-!-margin-top-9">
        Alpha
      </h2>
    <table class="govuk-table ">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Design history</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-5/start">Version 5</a></td>
          <td class="govuk-table__cell">21 August to 11 September 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5708120329/Sprint+5" target="_blank" class="govuk-link">Sprint 5</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-4/start">Version 4</a></td>
          <td class="govuk-table__cell">31 July to 21 August 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5707596179/Sprint+4" target="_blank" class="govuk-link">Sprint 4</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-3/start">Version 3</a></td>
          <td class="govuk-table__cell">3 July to 31 July 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5707203037/Sprint+3+-+Simplifying+the+journeys" target="_blank" class="govuk-link">Sprint 3</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" href="version-2/start">Version 2</a></td>
          <td class="govuk-table__cell">13 June to 3 July 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5707137225/Sprint+2+-+Exploring+different+journeys" target="_blank" class="govuk-link">Sprint 2</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="https://www.figma.com/proto/LXEtEh034AIMEFQPHImITm/AQ-data---alpha?page-id=198%3A3941&node-id=198-4246&viewport=-1693%2C1071%2C0.15&t=xDJq1W5GKhaNc9Co-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=198%3A4246">Version 1 (opens in figma)</a></th>
          <td class="govuk-table__cell">23 May to 12 June 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5707727147/Sprint+1+-+Initial+prototype" target="_blank" class="govuk-link">Sprint 1</a></td>
        </tr>
           <tr class="govuk-table__row">
          <td class="govuk-table__cell">Research</td>
          <td class="govuk-table__cell">1 May to 22 May 2024</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="https://eaflood.atlassian.net/wiki/spaces/AQIE/pages/5707563284/Sprint+0+-+UR+to+fill+gaps+in+knowledge" target="_blank" class="govuk-link">Sprint 0</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
