{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set version = "version-16" %}
{% set bodyClasses = "version-16" %}


{% block scripts %}
  {{ super() }}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

  <!-- Management Areas Map -->
  <script src="/public/javascripts/bundles/management_areas_map_16.bundle.js"></script>

{% endblock %}
