{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% set version = "version-17" %}
{% set bodyClasses = "version-17" %}


{% block scripts %}
  {{ super() }}

  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <!-- Components -->
  <script src="/public/javascripts/version_17/components/toggletip.js"></script>

  <!-- Alerts Map -->
   <script src="/public/javascripts/bundles/alerts_map_17.bundle.js"></script>



{% endblock %}
